body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

#tabuleiro-jogo {
    margin: 20px auto;
    width: 300px;
    height: 200px;
    border: 2px solid #333;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#container-palavra {
    margin-bottom: 20px;
    font-size: 24px;
}

#container-tentativas {
    font-weight: bold;
    margin-bottom: 20px;
}



